.DS_Store
.env.local
.env.local*
.huskygpt_review.md
.idea
.lighthouseci
.nyc_output
.nyc_output
.nyc_output
.nyc_output
.quasar
.scannerwork
.thumbs.db
.todo
*.njsproj
*.ntvs*
*.sln
*.suo
/dist
/docs/
/quasar.config.*.temporary.compiled*
/src-capacitor/node_modules
/src-capacitor/www
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
coverage*
coverage/
coverage/
coverage/
licenses.json
node_modules
npm-debug.log*
snyk-test.json
sonar-project.properties
